@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');

body {
  font-family: 'Sofia Sans', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */

.app-container {
  display: flex;
  height: 100vh;
  /* 100% of the viewport height */
}

.main-content {
  padding-left: 95px;
  background-color: #141518;
  color: white;
  /* Example background color */
}

.content {
  width: 100%;
  min-height: 91.7%;
  padding-left: 95px;
  background-color: red;
  color: white;
  /* Example background color */
  padding: 10px;
}

.header {
  height: 57px;
  width: 100%;
}

.balance-part{
  min-height: 90%;
}

.overall{
  height: 460px!important;
}

.topAssets{
  width: 61.8%;
  height: 365px;
  background: yellow;
  position: absolute;
  bottom: 12px;
  left: 692px;
  border-radius: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-content {
    flex: 1;
    padding-left: 0px;
    background-color: #141518;
    color: white;
    /* Example background color */
  }

  .content{
    display: block;
  } 
  
  .balance-part {
    width: 100%;
    min-height: 90%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
  }

  .overall {
    width: 100%;
    min-height: 460px;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-content {
    flex: 1;
    padding-left: 0px;
    background-color: #141518;
    color: white;
    /* Example background color */
  }

  .content{
    display: block;
  }

  .balance-part {
    width: 100%;
    min-height: 90%;
    background: #282c34;
    border-radius: 10px;
    margin-right: 20px;
    padding-top: 10px;
  }

  .overall {
    width: 100%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-content {
    flex: 1;
    padding-left: 95px;
    background-color: #141518;
    color: white;
    /* Example background color */
  }

  .content{
    display: block;
  }

  .balance-part {
    width: 100%;
    min-height: 90%;
    background: #282c34;
    border-radius: 10px;
    margin-right: 20px;
    padding-top: 10px;
  }

  .overall {
    width: 100%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-content {
    flex: 1;
    padding-left: 95px;
    background-color: #141518;
    color: white;
    /* Example background color */
  }

  .content{
    display: flex;
  }

  .balance-part {
    width: 30%;
    min-height: 90%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
  }

  .overall {
    width: 65%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-content {
    flex: 1;
    padding-left: 95px;
    background-color: #141518;
    color: white;
    /* Example background color */
  }
  
  .content{
    display: flex;
  }

  .balance-part {
    width: 30%;
    max-height: 90%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }

  .overall {
    width: 65%;
    background: #282c34;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 10px;
  }
}